/* Style général de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin: 20px;
    color: #333;
}

/* Style de la carte */
#map {
    height: 500px;
    width: 80%;
    margin: 0 auto;
}
