/* Corps de la page */
body {
    background-color: #f7f8fa;
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


/* Section à remplir toute la hauteur avec une belle transition */
section {
    padding: 80px 0;
}

/* Cartes et espacement */
.card {
    border: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.card-body {
    padding: 40px;
}

.card-body h1,
.card-body h2 {
    font-weight: bold;
}

.card-body p {
    font-size: 1.2rem;
}

/* Texte de la météo */
#weather-info {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#weather-info p {
    font-size: 1.5rem;
}

/* Liens */
a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

/* Styles pour la navigation sticky */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #007bff; /* Bleu clair pour la navbar */
}

.navbar-nav .nav-item {
    margin-left: 15px;

}

.navbar-nav .nav-item a {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 15px;
    color: white;
    display: block;
}

.navbar-nav .nav-item a:hover {
    background-color: #0056b3; /* Bleu plus foncé pour l'effet hover */
}

/* Dropdown menu */
.nav-item.dropdown .dropdown-menu {
    background-color: #007bff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.nav-item.dropdown .dropdown-item {
    color: white;
    padding: 10px 15px;
}

.nav-item.dropdown .dropdown-item:hover {
    background-color: #0056b3; /* Couleur sur hover dans le menu déroulant */
}

/* Espacement global */
.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

/* Réseaux sociaux */
#contact .fab {
    transition: all 0.3s ease;
}

#contact .fab:hover {
    transform: scale(1.2);
}

/* Articles */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body .btn {
    margin-top: 15px;
}

/* Responsivité */
@media (max-width: 767px) {
    .input-group {
        width: 80%;
    }

    .card-img-top {
        height: 150px;
    }

    .navbar-nav .nav-item {
        margin-left: 0;
        text-align: center;
    }

    .navbar-nav .nav-item a {
        padding: 8px 12px;
    }

    .card-body {
        padding: 30px;
    }
}
